apiVersion: v1
kind: ConfigMap
metadata:
  name: nucliadb-config
  labels:
    app: writer
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
{{- if .Values.running.debug }}
  DEBUG: "True"
{{- end }}
  RUNNING_ENVIRONMENT: {{ .Values.running.running_environment }}
  LOG_LEVEL: {{ .Values.running.log_level }}
  CORS: {{ toJson .Values.http.cors | quote }}
  FILE_BACKEND: {{ .Values.storage.file_backend }}
  UPLOAD_TOKEN_EXPIRATION: {{ .Values.storage.upload_token_expiration | quote}}
{{- if eq .Values.storage.file_backend "gcs" }}
  GCS_BASE64_CREDS: {{ .Values.storage.gcs_base64_creds }}
  GCS_BUCKET: {{ .Values.storage.gcs_bucket }}
  GCS_DEADLETTER_BUCKET: {{ .Values.storage.gcs_deadletter_bucket }}
  GCS_INDEXING_BUCKET: {{ .Values.storage.gcs_indexing_bucket }}
  GCS_LOCATION: {{ .Values.storage.gcs_location }}
  GCS_PROJECT: {{ .Values.storage.gcs_project }}
  GCS_BUCKET_LABELS: {{ toJson .Values.storage.gcs_bucket_labels | quote }}
{{- else if eq .Values.storage.file_backend "s3" }}
  S3_CLIENT_ID: {{ .Values.storage.s3_client_id }}
  S3_CLIENT_SECRET: {{ .Values.storage.s3_client_secret }}
{{- if .Values.storage.s3_ssl }}
  S3_SSL: "True"
{{- end }}
  S3_MAX_POOL_CONNECTIONS: {{ .Values.storage.s3_max_pool_connections | quote }}
  S3_REGION_NAME: {{ .Values.storage.s3_region_name }}
  S3_BUCKET: {{ .Values.storage.s3_bucket }}
  S3_DEADLETTER_BUCKET: {{ .Values.storage.s3_deadletter_bucket }}
  S3_INDEXING_BUCKET: {{ .Values.storage.s3_indexing_bucket }}
{{- end }}
{{- if .Values.nuclia.onprem }}
  NUCLIA_SERVICE_ACCOUNT: {{ .Values.nuclia.nuclia_service_account }}
{{- end }}
  NUCLIA_PUBLIC_URL: {{ .Values.nuclia.nuclia_public_url }}
  NUCLIA_CLUSTER_URL: {{ .Values.nuclia.nuclia_cluster_url }}
  NUCLIA_ZONE: {{ .Values.nuclia.nuclia_zone }}
{{- if .Values.nuclia.onprem }}
  ONPREM: "True"
{{- else }}
  ONPREM: "False"
{{- end }}
  NUCLIA_JWT_KEY: {{ .Values.nuclia.nuclia_jwt_key }}
  NUCLIA_HASH_SEED: {{ .Values.nuclia.nuclia_hash_seed | quote }}
  NUCLIA_PARTITIONS: {{ .Values.nuclia.nuclia_partitions | quote }}
  NUCLIADB_INGEST: {{ .Values.nucliadb.ingest }}
  NODE_WRITER_PORT: {{ .Values.nucliadb.node_writer_port | quote }}
  NODE_READER_PORT: {{ .Values.nucliadb.node_reader_port | quote }}
  NODE_SIDECAR_PORT: {{ .Values.nucliadb.node_sidecar_port | quote }}
  CACHE_PUBSUB_NATS_URL: {{ toJson .Values.cache.cache_pubsub_nats_url |quote }}
  CACHE_PUBSUB_NATS_AUTH: {{ .Values.cache.cache_pubsub_nats_auth }}
  TRANSACTION_JETSTREAM_AUTH: {{ .Values.transaction.transaction_jetstream_auth }}
  TRANSACTION_JETSTREAM_SERVERS: {{ toJson .Values.transaction.transaction_jetstream_servers | quote }}
  INDEX_JETSTREAM_AUTH: {{ .Values.indexing.index_jetstream_auth }}
  INDEX_JETSTREAM_SERVERS: {{ toJson .Values.indexing.index_jetstream_servers | quote }}
  DRIVER: {{ .Values.maindb.driver }}
{{- if eq .Values.maindb.driver "redis" }}
  DRIVER_REDIS_URL: {{ .Values.maindb.driver_redis_url }}
{{- else if eq .Values.maindb.driver "tikv" }}
  DRIVER_TIKV_URL: {{ toJson .Values.maindb.driver_tikv_url | quote }}
{{- end }}
  AUDIT_DRIVER: {{ .Values.audit.driver }}
  AUDIT_JETSTREAM_TARGET: {{ .Values.audit.audit_jetstream_target }}
  AUDIT_JETSTREAM_SERVERS: {{ toJson .Values.audit.audit_jetstream_servers | quote }}
  AUDIT_JETSTREAM_AUTH: {{ .Values.audit.audit_jetstream_auth }}
  AUDIT_PARTITIONS: {{ .Values.audit.audit_partitions | quote }}
  AUDIT_HASH_SEED: {{ .Values.audit.audit_hash_seed | quote }}
  JAEGER_AGENT_HOST: "{{ .Values.tracing.jaeger_agent_host }}"
  JAEGER_AGENT_PORT: "{{ .Values.tracing.jaeger_agent_thrift_compact_port }}"
  JAEGER_QUERY_HOST: "{{ .Values.tracing.jaeger_query_host }}"
  JAEGER_QUERY_PORT: "{{ .Values.tracing.jaeger_query_http_port }}"
  JAEGER_PROPAGATION: "jaeger,b3,w3c"
  OTEL_EXPORTER_JAEGER_AGENT_SPLIT_OVERSIZED_BATCHES: "1"

{{- if not .Values.telemetry.enabled }}
  NUCLIADB_DISABLE_ANALYTICS: "True"
{{- end }}

{{- if .Values.flag_settings_url }}
  FLAG_SETTINGS_URL: "{{ .Values.flag_settings_url }}"
{{- end }}
