**/*.egg-info
**/nats-server
**/pd-server
**/tikv-server
.benchmarks/
.coveragerc
.dockerignore
.eggs
.git/
.github/
.license*
.mypy_cache
.pre-commit-config.yaml
.pytest_cache/*
CODE_OF_CONDUCT.md
CODE_STYLE_PYTHON.md
Dockerfile*
Makefile
LICENSE*
README*
__pycache__
bin
build
charts
coverage.xml
data
include
lib
logs
nats-server
nucliadb_writer/nats-server
**/target/*
tests/*
