target
data
logs
build
__pycache__
nucliadb_writer/nats-server
nucliadb_node/data
nats-server
pd-server
tikv-server
target
__pycache__
.eggs
.mypy_cache
data
logs
**/*.egg-info
nucliadb_one/nats-server
nucliadb_ingest/nats-server
nucliadb_ingest/pd-server
nucliadb_ingest/tikv-server
nucliadb_telemetry/nats-server
nucliadb_utils/nats-server
nucliadb_train/nats-server
nucliadb_node/nats-server