version: "3.9"

services:
  nucliadb:
    image: nuclia/nucliadb:latest
    environment:
      # - NUA_API_KEY=
      - NUCLIA_ZONE=europe-1
      - CORS_ORIGINS=["http://localhost:8080"]
      - DRIVER=PG
      - FILE_BACKEND=PG
      - DEBUG=true
      - DRIVER_PG_URL=postgres://nucliadb:nucliadb@postgres:5432/nucliadb
      # - auth_policy=upstream_oauth2
      # - auth_policy=upstream_auth_header
      # - auth_policy_user_header=X-Forwarded-User
      - auth_policy_user_default_roles=["MANAGER", "READER", "WRITER"]
      - DATA_PATH=/data
      - HTTP_PORT=8080
      - INGEST_GRPC_PORT=8060
      - TRAIN_GRPC_PORT=8040
      - LOG_LEVEL=INFO
      - RUST_BACKTRACE=1
      - RUST_LOG=nucliadb_node=ERROR,nucliadb_paragraphs_tantivy=ERROR,nucliadb_fields_tantivy=ERROR
    ports:
      - "8080:8080"
      - "8060:8060"
      - "8040:8040"
    volumes:
      - nucliadb-data:/data
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=nucliadb
      - POSTGRES_PASSWORD=nucliadb
      - POSTGRES_DB=nucliadb
    volumes:
      - nucliadb-maindb:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  auth-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy
    ports:
      - "4180:4180"
    environment:
      - OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
      - OAUTH2_PROXY_UPSTREAMS=http://nucliadb:8080/
      - OAUTH2_PROXY_FORCE_HTTPS=false
      - OAUTH2_PROXY_REDIRECT_URL=http://localhost:4180/oauth2/callback
      - OAUTH2_PROXY_PROVIDER=google
      - OAUTH2_PROXY_CLIENT_ID=224545243904-22tn7mrj38t9hkfbqj9gnuac0hlscs05.apps.googleusercontent.com
      - OAUTH2_PROXY_CLIENT_SECRET=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
      - OAUTH2_PROXY_SESSION_STORE_TYPE=redis
      - OAUTH2_PROXY_REDIS_CONNECTION_URL=redis://redis:6379
      - OAUTH2_PROXY_COOKIE_SECRET=vLevdGju4C766R8KypPJZ806co4-kwNS9qMuPxLXqls=
      - OAUTH2_PROXY_EMAIL_DOMAINS=nuclia.com
      - OAUTH2_PROXY_PASS_USER_HEADERS=true
      - OAUTH2_PROXY_PASS_AUTHORIZATION_HEADER=true
    depends_on:
      - postgres
      - redis

volumes:
  nucliadb-data: {}
  nucliadb-maindb: {}
