[project]
name = "nucliadb_workspace"
requires-python = ">=3.9"
version = "0.0.0"
dependencies = [
    "azure-storage-blob>=12.20.0",
    "pdbpp>=0.10.3",
]

[tool.pdm.dev-dependencies]
dev = [
    "-e file:///${PROJECT_ROOT}/nucliadb",
    "-e file:///${PROJECT_ROOT}/nucliadb_models",
    "-e file:///${PROJECT_ROOT}/nucliadb_node",
    "-e file:///${PROJECT_ROOT}/nucliadb_node_binding",
    "-e file:///${PROJECT_ROOT}/nucliadb_protos/python",
    "-e file:///${PROJECT_ROOT}/nucliadb_telemetry",
    "-e file:///${PROJECT_ROOT}/nucliadb_utils",
    # Linting
    "mypy-protobuf>=3.6.0",
    "mypy==1.10",
    "flake8==4.0.1",
    "ruff==0.3.5",
    "black==24.3.0",
    "isort==5.10.1",
    "pre-commit==2.20.0",
    # Testing
    "pytest==7.4.2",
    "pytest-asyncio~=0.18.0",
    "pytest-cov==3.0.0",
    "types-setuptools",
    "types-redis",
    "httpx>=0.23.0",
    "pytest-docker-fixtures>=1.3.17",
    "pytest-benchmark",
    "docker>=7.0.0",
    "grpcio-health-checking==1.44.0",
    "requests",
    "maturin",
    "pytest-lazy-fixtures",
    "pytest-mock",
    "faker>=25.1.0",
    "grpc-stubs>=1.44.0",
    "aioresponses==0.7.5",
    "asyncpg>=0.27.0",
    "psycopg2-binary",
    "httpx>=0.23.0",
    "pytest-docker-fixtures>=1.3.17",
    "aiobotocore",
    "s3fs",
    "redis>=4.3.4",
    "pytest-rerunfailures>=11.1.2",
    "pytest-shard",
    "jsonschema",
]

[tool.setuptools]
py-modules = []
