# NucliaDB Settings

config:
  writer:
    dm_redis_host:
    dm_redis_port:

  running:
    debug: True
    sentry_url:
    running_environment: local
    logging_integration: False

  http:
    cors:
      - http://localhost:4200

  storage:
    file_backend: gcs

    gcs_base64_creds: XX
    gcs_bucket: nucliadb_{kbid}
    gcs_location: XX
    gcs_project: XX
    gcs_bucket_labels:

    s3_client_id: XX
    s3_client_secret: XX
    s3_ssl: True
    s3_max_pool_connections: 30
    s3_region_name:
    s3_bucket: nucliadb_{kbid}

  nuclia:
    nuclia_service_account: XX
    nuclia_proxy_cluster_url: XX
    nuclia_proxy_public_url: XX
    predict_url: XX
    nuclia_zone: XX
    zone_key: XX
    nuclia_id: XX
    onprem: XX
    nuclia_jwt_key: XX
    nuclia_hash_seed: 42
    nuclia_partitions: 1

  nucliadb:
    ingest: ingest:4242

  transaction:
    transaction_jetstream_auth:
    transaction_jetstream_servers:
      - nats1
      - nats2
      - nats3
    transaction_jetstream_target: "ndb.consumer.{partition}"
    transaction_jetstream_group: "nucliadb-{partition}"
    transaction_jetstream_stream: "nucliadb"

  ingest:
    grpc_port: 8030
    inner_metrics_host: "0.0.0.0"
    inner_metrics_port: 8081
    driver: redis # tikv | redis
    driver_redis_url:
    driver_tikv_url:
    partitions:
      - "1"
    pull_time: 100
    node_replicas: 2
    swim_peers:
      - node1:4444
      - node2:4444
      - node3:4444
    swim_interval_seconds: 5.0
    swim_binding_host: "0.0.0.0"
    swim_binding_port: 4440
    swim_host_key: "ingest.key"
    monitor: False
    monitor_port: 50101
    writer_port: 10000

ingest:
  affinity: {}
  nodeSelector: {}
  tolerations: []
  replicaCount: 2
  revisionHistoryLimit: 2
  debug: False
  imagePullPolicy: IfNotPresent
  image: gcr.io/stashify-218417/ingest:latest
  resources:
    limits:
      memory: "600Mi"
      cpu: "300m"

node:
  affinity: {}
  nodeSelector: {}
  tolerations: []
  replicaCount: 2
  revisionHistoryLimit: 2
  debug: False
  imagePullPolicy: IfNotPresent
  image: gcr.io/stashify-218417/node:latest
  resources:
    limits:
      memory: "600Mi"
      cpu: "300m"
  serving:
    swim: 4444
    grpc_reader: 4445
    grpc_writer: 4446

reader:
  affinity: {}
  nodeSelector: {}
  tolerations: []
  replicaCount: 2
  revisionHistoryLimit: 2
  debug: False
  imagePullPolicy: IfNotPresent
  image: gcr.io/stashify-218417/reader:latest
  resources:
    limits:
      memory: "600Mi"
      cpu: "300m"
  serving:
    port: 4444

searcher:
  affinity: {}
  nodeSelector: {}
  tolerations: []
  replicaCount: 2
  revisionHistoryLimit: 2
  debug: False
  imagePullPolicy: IfNotPresent
  image: gcr.io/stashify-218417/reader:latest
  resources:
    limits:
      memory: "600Mi"
      cpu: "300m"
  serving:
    port: 4444

writer:
  affinity: {}
  nodeSelector: {}
  tolerations: []
  replicaCount: 2
  revisionHistoryLimit: 2
  debug: False
  imagePullPolicy: IfNotPresent
  image: gcr.io/stashify-218417/writer:latest
  resources:
    limits:
      memory: "600Mi"
      cpu: "300m"
  serving:
    port: 4444
