[package]
name = "nidx_vector"
version = "0.1.0"
edition = "2024"
license = "AGPL-3.0-or-later"

[dependencies]
nidx_types = { version = "0.1.0", path = "../nidx_types" }
tempfile = "3.13.0"
uuid = { version = "1.10.0", features = ["v4", "serde"] }
rand = { version = "0.8.4", features = ["small_rng"] }
memmap2 = "0.5.3"
thiserror = "1.0.31"
bit-set = "0.8.0"
libc = "0.2.153"
lazy_static = "1.4.0"
nidx_protos = { version = "0.1.0", path = "../nidx_protos" }
tracing = "0.1.40"
serde = { version = "1.0.210", features = ["derive"] }
anyhow = "1.0.89"
rustc-hash = "2.1"
stream-vbyte = "0.4.1"
fst = "0.4.7"
bit-vec = "0.8.0"
bincode = "2.0.1"
rayon = "1.10.0"
simsimd = "4.3.1"

[dev-dependencies]
lazy_static = "1.4.0"
rstest = "0.19.0"
