pydantic>=1.8.2,<2.0
aiohttp>=3.9.0
prometheus-client>=0.12.0
types-requests>=2.27.7
mmh3>=3.0.0
nats-py[nkeys]==2.5.0
pyjwt>=2.4.0
memorylru>=1.1.2
mrflagly

# automatically bumped during release
nucliadb-protos
nucliadb-telemetry