apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: reader
spec:
  gateways:
    - "{{ .Values.vs.gateway }}"
  hosts:
    - "{{ .Values.zone }}.{{ .Values.vs.host }}"
  http:
    - name: nucliadb_reader
      match:
        - method:
            regex: "GET|OPTIONS"
          uri:
            regex: '^/api/v\d+/kb/[^/]+$'
        - method:
            regex: "GET|OPTIONS"
          uri:
            regex: '^/api/v\d+/kb/[^/]+/(entitiesgroup|labelset|vectorset|custom-synonyms|export|import)s?.*'
        - method:
            regex: "GET|OPTIONS"
          uri:
            regex: '^/api/v\d+/kb/[^/]+/task/.*'
        - method:
            regex: OPTIONS
          uri:
            regex: ^/api/v\d+/kb/[^/]+/(upload)?.*
        - method:
            regex: "GET|OPTIONS"
          uri:
            regex: '^/api/v\d+/kb/[^/]+/(resource|slug)/[^/]+$'
        - method:
            regex: "GET|OPTIONS"
          uri:
            regex: '^/api/v\d+/kb/[^/]+/(resource|slug)/[^/]+/(text|file|link|layout|conversation|keywordset|datetime).*'
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/resources'
          method:
            regex: "GET|OPTIONS"
      retries:
        attempts: 3
        retryOn: connect-failure
      route:
        - destination:
            port:
              number: {{.Values.serving.port}}
            host: "reader.{{ .Release.Namespace }}.svc.cluster.local"
      corsPolicy:
        allowOrigins:
          - exact: "*"
        allowHeaders:
          - "*"
          # Authorization will be exluded from * in the future, (CORS non-wildcard request-header).
          # Browsers already showing deprecation notices, so it needs to be specified explicitly
          - "Authorization"
        allowMethods:
          - GET
          - OPTIONS
          - POST
          - PATCH
          - PUT
          - DELETE
