apiVersion: v1
kind: ConfigMap
metadata:
  name: reader-config
  labels:
    app: reader
    app.kubernetes.io/name: reader
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
data:
  JAEGER_ENABLED: {{ .Values.tracing.enabled | quote }}
  SERVING_PORT: {{ .Values.serving.port | quote }}
  METRICS_PORT: {{ .Values.serving.metricsPort | quote }}