apiVersion: apps/v1
kind: Deployment
metadata:
  name: train
  labels:
    app: train
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      app: train
      release: "{{ .Release.Name }}"
      heritage: "{{ .Release.Service }}"
  template:
    metadata:
      name: train
      annotations:
        traffic.sidecar.istio.io/excludeOutboundPorts: "{{.Values.services.maindb }},{{.Values.services.nats }}"
        traffic.sidecar.istio.io/excludeInboundPorts: "{{ .Values.serving.metricsPort }}"
        # do not have access to dependency chart cm this component references
        checksum/cm: {{ include (print $.Template.BasePath "/train.cm.yaml") . | sha256sum }}
        {{- if hasKey .Values "extra_pod_annotations" }}
{{ toYaml .Values.extra_pod_annotations | indent 8 }}
        {{- end }}
      labels:
        app: train
        version: "{{ .Chart.Version | replace "+" "_" }}"
        chart: "{{ .Chart.Name }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
      topologySpreadConstraints:
{{ toYaml .Values.topologySpreadConstraints | indent 8 }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
      affinity:
{{ toYaml .Values.affinity | indent 8 }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
      dnsPolicy: ClusterFirst
      containers:
      - name: train
        image: "{{ .Values.containerRegistry }}/{{ .Values.image }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /
            port: {{ .Values.serving.port }}
          initialDelaySeconds: 20
          timeoutSeconds: 10
          periodSeconds: 20
        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /
            port: {{ .Values.serving.port }}
          initialDelaySeconds: 2
          timeoutSeconds: 10
          periodSeconds: 10
        command: [
          "nucliadb-train"
        ]
        lifecycle:
          preStop:
            exec:
              # in order to avoid latent load balancer routing/update issues, arbitrarily throw
              # some delay in the shutdown process
              command: ["sleep", "15"]
        envFrom:
        - configMapRef:
            name: nucliadb-config
        - configMapRef:
            name: train-config
        env:
          - name: VERSION
            valueFrom:
              fieldRef:
                fieldPath: metadata.labels['version']
        {{- range $key, $value := .Values.env }}
          - name: "{{ $key }}"
            value: {{ tpl $value $ | toJson }}
        {{- end }}
        ports:
        - name: grpc-train
          containerPort: {{ .Values.serving.grpc_port }}
        - name: http-train
          containerPort: {{ .Values.serving.port }}
        - name: metrics
          containerPort: {{ .Values.serving.metricsPort }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
{{- if .Values.nats.secretName }}
        volumeMounts:
          - name: nats-creds
            readOnly: true
            mountPath: /appsecrets
{{- end }}
{{- if .Values.nats.regionalSecretName }}
          - name: regional-nats-creds
            readOnly: true
            mountPath: /regioncreds
{{- end }}
      - name: cluster-manager
        image: "{{ .Values.containerRegistry }}/{{ .Values.image_other }}"
        imagePullPolicy: {{ .Values.imageOtherPullPolicy }}
        command: ["/nucliadb_cluster/cluster_manager"]
        envFrom:
        - configMapRef:
            name: nucliadb-config
        - configMapRef:
            name: train-config
        ports:
        - name: chitchat
          containerPort: {{ .Values.chitchat.node.chitchat_port }}
          protocol: UDP
{{- if .Values.tracing.enabled }}
      - name: jaeger-agent
        image: jaegertracing/jaeger-agent:{{ .Values.tracing.jaegerAgentTag }}
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 5775
            name: zk-compact-trft
            protocol: UDP
          - containerPort: 5778
            name: config-rest
            protocol: TCP
          - containerPort: 6831
            name: jg-compact-trft
            protocol: UDP
          - containerPort: 6832
            name: jg-binary-trft
            protocol: UDP
          - containerPort: 14271
            name: admin-http
            protocol: TCP
        args:
          - --reporter.grpc.host-port=dns:///{{ .Values.tracing.jaegerCollectorHost }}:{{ .Values.tracing.jaegerCollectorGrpcPort }}
          - --reporter.type=grpc
{{- end }}
{{- if .Values.nats.secretName }}
      volumes:
      - name: nats-creds
        secret:
          secretName: {{ .Values.nats.secretName }}
{{- end }}
{{- if .Values.nats.regionalSecretName }}
      - name: regional-nats-creds
        secret:
          secretName: {{ .Values.nats.regionalSecretName }}
{{- end }}