kind: Service
apiVersion: v1
metadata:
  name: train
  labels:
    app: train
    metrics: "enabled"
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  type: ClusterIP
  selector:
    app: train
  ports:
    - name: grpc-train
      port: {{ .Values.serving.grpc_port }}
    - name: http-train
      port: {{ .Values.serving.port }}
    - name: metrics
      port: {{ .Values.serving.metricsPort}}