apiVersion: apps/v1
kind: Deployment
metadata:
  name: nidx-api
  labels:
    app: nidx-api
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  replicas: {{ .Values.api.replicas | default 2 }}
  selector:
    matchLabels:
      app: nidx-api
      release: "{{ .Release.Name }}"
      heritage: "{{ .Release.Service }}"
  template:
    metadata:
      name: nidx-api
      annotations:
        {{- with .Values.excludeOutboundPorts }}
        traffic.sidecar.istio.io/excludeOutboundPorts: "{{ . }}"
        {{- end }}
        {{- with .Values.excludeInboundPorts }}
        traffic.sidecar.istio.io/excludeInboundPorts: "{{ . }}"
        {{- end }}
        {{- $annotations := merge .Values.api.podAnnotations .Values.podAnnotations -}}
        {{- with $annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app: nidx-api
        version: "{{ .Chart.Version | replace "+" "_" }}"
        chart: "{{ .Chart.Name }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
        {{- $labels := merge .Values.api.podLabels .Values.podLabels -}}
        {{- with $labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.api.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      dnsPolicy: ClusterFirst
      serviceAccountName: {{ .Values.api.serviceAccount | default "default" }}
      containers:
      - name: nidx-api
        image: "{{ .Values.containerRegistry }}/{{ .Values.image }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        command: ["nidx", "api"]
        {{- with .Values.envFrom }}
        envFrom:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        env:
          {{- include "toEnv" .Values.env | nindent 10 }}
          {{- with .Values.api.env }}
            {{- include "toEnv" . | nindent 10 }}
          {{- end }}
          - name: CONTROL_SOCKET
            value: "/run/nidx.sock"
        ports:
        - name: metrics
          containerPort: 10010
        {{- with .Values.api.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        livenessProbe:
          exec:
            command: ["nidx", "ctl", "alive"]
