apiVersion: apps/v1
kind: Deployment
metadata:
  name: nidx-indexer
  labels:
    app: nidx-indexer
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  selector:
    matchLabels:
      app: nidx-indexer
      release: "{{ .Release.Name }}"
      heritage: "{{ .Release.Service }}"
  template:
    metadata:
      name: nidx-indexer
      annotations:
        {{- with .Values.excludeOutboundPorts }}
        traffic.sidecar.istio.io/excludeOutboundPorts: "{{ . }}"
        {{- end }}
        {{- with .Values.excludeInboundPorts }}
        traffic.sidecar.istio.io/excludeInboundPorts: "{{ . }}"
        {{- end }}
      labels:
        app: nidx-indexer
        version: "{{ .Chart.Version | replace "+" "_" }}"
        chart: "{{ .Chart.Name }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
      {{- with .Values.indexer.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.indexer.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.indexer.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.indexer.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      dnsPolicy: ClusterFirst
      serviceAccountName: {{ .Values.indexer.serviceAccount | default "default" }}
      volumes:
      - name: data-dir
        emptyDir:
      containers:
      - name: nidx-indexer
        image: "{{ .Values.containerRegistry }}/{{ .Values.image }}"
        command: ["nidx", "indexer"]
        env:
          {{- include "toEnv" .Values.env | nindent 10 }}
          - name: WORK_PATH
            value: "/data"
        ports:
        {{- with .Values.indexer.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: data-dir
          mountPath: "/data"
