{{- if .Values.searcher.rbac.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: nidx-cluster-viewer
  labels:
    app: nidx-searcher
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: nidx-searcher-view-cluster
  labels:
    app: nidx-searcher
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: nidx-cluster-viewer
subjects:
- kind: ServiceAccount
  name: {{ if kindIs "string" .Values.searcher.serviceAccount }}{{ .Values.searcher.serviceAccount }}{{ else }}{{ .Values.searcher.serviceAccount.name | default "default" }}{{ end }}
  namespace: {{ .Release.Namespace }}
{{- end }}