apiVersion: apps/v1
kind: Deployment
metadata:
  name: nidx-searcher
  labels:
    app: nidx-searcher
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  replicas: {{ .Values.searcher.replicas | default 2 }}
  selector:
    matchLabels:
      app: nidx-searcher
      release: "{{ .Release.Name }}"
      heritage: "{{ .Release.Service }}"
  template:
    metadata:
      name: nidx-searcher
      annotations:
        {{- with .Values.excludeOutboundPorts }}
        traffic.sidecar.istio.io/excludeOutboundPorts: "{{ . }}"
        {{- end }}
        {{- with .Values.excludeInboundPorts }}
        traffic.sidecar.istio.io/excludeInboundPorts: "{{ . }}"
        {{- end }}
        {{- $annotations := merge .Values.searcher.podAnnotations .Values.podAnnotations  -}}
        {{- with $annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app: nidx-searcher
        version: "{{ .Chart.Version | replace "+" "_" }}"
        chart: "{{ .Chart.Name }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
        {{- $labels := merge .Values.searcher.podLabels .Values.podLabels -}}
        {{- with $labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.searcher.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.searcher.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.searcher.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.searcher.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      dnsPolicy: ClusterFirst
      serviceAccountName: {{ if kindIs "string" .Values.searcher.serviceAccount }}{{ .Values.searcher.serviceAccount }}{{ else }}{{ .Values.searcher.serviceAccount.name | default "default" }}{{ end }}
      volumes:
      - name: data-dir
        emptyDir:
      containers:
      - name: nidx-searcher
        image: "{{ .Values.containerRegistry }}/{{ .Values.image }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        command: ["nidx", "searcher"]
        envFrom:
          {{- with .Values.envFrom }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.searcher.envFrom }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
        env:
          {{- include "toEnv" .Values.env | nindent 10 }}
          {{- with .Values.searcher.env }}
            {{- include "toEnv" . | nindent 10 }}
          {{- end }}
          - name: WORK_PATH
            value: "/data"
          - name: CONTROL_SOCKET
            value: "/run/nidx.sock"
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
        ports:
        - name: metrics
          containerPort: 10010
        {{- with .Values.searcher.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: data-dir
          mountPath: "/data"
        livenessProbe:
          exec:
            command: ["nidx", "ctl", "alive"]
        readinessProbe:
          exec:
            command: ["nidx", "ctl", "ready"]
