apiVersion: apps/v1
kind: Deployment
metadata:
  name: nidx-worker
  labels:
    app: nidx-worker
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  {{ if .Values.maintenance }}
  replicas: 0
  {{ end }}
  selector:
    matchLabels:
      app: nidx-worker
      release: "{{ .Release.Name }}"
      heritage: "{{ .Release.Service }}"
  template:
    metadata:
      name: nidx-worker
      annotations:
        {{- with .Values.excludeOutboundPorts }}
        traffic.sidecar.istio.io/excludeOutboundPorts: "{{ . }}"
        {{- end }}
        {{- with .Values.excludeInboundPorts }}
        traffic.sidecar.istio.io/excludeInboundPorts: "{{ . }}"
        {{- end }}
        {{- $annotations := merge .Values.worker.podAnnotations .Values.podAnnotations -}}
        {{- with $annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app: nidx-worker
        version: "{{ .Chart.Version | replace "+" "_" }}"
        chart: "{{ .Chart.Name }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
        {{- $labels := merge .Values.worker.podLabels .Values.podLabels -}}
        {{- with $labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.worker.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.worker.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.worker.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.worker.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      dnsPolicy: ClusterFirst
      serviceAccountName: {{ .Values.worker.serviceAccount | default "default" }}
      terminationGracePeriodSeconds: {{ .Values.worker.terminationGracePeriodSeconds | default 120 }}
      volumes:
      - name: data-dir
        emptyDir:
      containers:
      - name: nidx-worker
        image: "{{ .Values.containerRegistry }}/{{ .Values.image }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        command: ["nidx", "worker"]
        envFrom:
          {{- with .Values.envFrom }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.worker.envFrom }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
        env:
          {{- include "toEnv" .Values.env | nindent 10 }}
          {{- with .Values.worker.env }}
            {{- include "toEnv" . | nindent 10 }}
          {{- end }}
          - name: WORK_PATH
            value: "/data"
          - name: CONTROL_SOCKET
            value: "/run/nidx.sock"
        ports:
        - name: metrics
          containerPort: 10010
        {{- with .Values.worker.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: data-dir
          mountPath: "/data"
        livenessProbe:
          exec:
            command: ["nidx", "ctl", "alive"]
