# -----
# nidx indexer settings
# -----

# Image settings
imagePullPolicy: IfNotPresent
containerRegistry: CONTAINER_REGISTRY_TO_REPLACE
image: IMAGE_TO_REPLACE

env: {}
envFrom: {}
indexer: {}
scheduler: {}
worker: {}
searcher: {}
api: {}
