[package]
name = "nucliadb_node"
version = "0.1.0"
edition = "2021"
authors = ["NucliaDB <nucliadb@nuclia.com>"]
license = 'AGPL-3.0-or-later'
description = "Node of nucliadb"
repository = "https://github.com/nuclia/nucliadb"
homepage = "https://nuclia.com/"
documentation = "https://nuclia.com"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "node_reader"
path = "src/bin/reader.rs"

[[bin]]
name = "node_writer"
path = "src/bin/writer.rs"


[dependencies]
tonic = "0.6"
tonic-health = "0.5"
prost = "0.10.0"
async-std = "1.10.0"
prost-types = "0.8.0"
futures-core = "0.3.17"
futures-util = "0.3.17"
futures = "0.3.17"
tokio = { version = "1.12.0", features = ["rt-multi-thread", "macros", "sync", "time", "signal", "fs"] }
tokio-stream = "0.1.7"
log = "0.4.14"
env_logger = "0.9.0"
serde_json = "1"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8.21"
uuid = { version = "0.8.2", features = ["serde", "v4"] }
sled = "0.34.7"
bincode = "1.3.3"
dashmap = "4.0.2"
async-trait = "0.1.51"
time = "0.3.3"
itertools = "0.10"
anyhow = "1"
http = "0.2"
tracing = "0.1.29"
thiserror = "1"
mockall = "0.11"
prost-wkt-types = "0.3"
opentelemetry = "0.16"
tracing-opentelemetry = "0.16"
unicode-segmentation = "1.9.0"
# Test dependencies
tempfile = "3.2.0"
regex = "1.5.5"
lazy_static = "1.4.0"

# Text Service
tantivy = "0.16.1"
rayon = "1.5.1"

async-stream = "0.3.2"

rand = "0.8.4"

# nucliadb dependencies
nucliadb_vectors = { path = "../nucliadb_vectors" }
nucliadb_protos = { path = "../nucliadb_protos/rust" }
nucliadb-cluster = { path = "../nucliadb_cluster"}

# test
tempdir = "0.3.7"
portpicker = "0.1.1"

# sentry sdk
sentry = "0.24.2"

# indra
# indradb-lib = { version = "1", features = ["rocksdb-datastore"] }

[build-dependencies]
tonic-build = "0.5.2"

[features]
ci-test = []
release-feature-set = []
