sentry-sdk>=1.5.12
grpcio>=1.44.0
grpcio-health-checking>=1.44.0
grpcio-channelz>=1.44.0
grpcio-status>=1.44.0
grpcio-tools>=1.44.0
grpcio-testing>=1.44.0
grpcio-reflection>=1.44.0
opentelemetry-propagator-b3==1.11.1