apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: search
spec:
  gateways:
    - "{{ .Values.vs.gateway }}"
  hosts:
    - "{{ .Values.zone }}.{{ .Values.vs.host }}"
  http:
    - name: nucliadb_search
      match:
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/search$'
          method:
            regex: "GET|POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/find$'
          method:
            regex: "GET|POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/ask$'
          method:
            regex: "POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/feedback$'
          method:
            regex: "POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/catalog$'
          method:
            regex: "GET|POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/catalog/facets$'
          method:
            regex: "POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/summarize$'
          method:
            regex: "POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/(resource|slug)/[^/]+/run-agents$'
          method:
            regex: "POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/predict/.*'
          method:
            regex: "GET|POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/(resource|slug)/[^/]+/(find|search|ask)$'
          method:
            regex: "GET|POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/counters'
          method:
            regex: "GET|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/suggest'
          method:
            regex: "GET|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/graph'
          method:
            regex: "POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/graph/nodes'
          method:
            regex: "POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/graph/relations'
          method:
            regex: "POST|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/hydrate'
          method:
            regex: "POST|OPTIONS"
      retries:
        attempts: 3
        retryOn: connect-failure
      route:
        - destination:
            port:
              number: {{.Values.serving.port}}
            host: "search.{{ .Release.Namespace }}.svc.cluster.local"
