apiVersion: v1
kind: ConfigMap
metadata:
  name: search-config
  labels:
    app: search
    app.kubernetes.io/name: search
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
data:
  SENTRY_URL: {{ .Values.running.sentry_url }}
  JAEGER_ENABLED: {{ .Values.tracing.enabled | quote }}
  SERVING_PORT: {{ .Values.serving.port | quote }}
  METRICS_PORT: {{ .Values.serving.metricsPort | quote }}
