apiVersion: apps/v1
kind: Deployment
metadata:
  name: nucliadb-worker
  labels:
    app: nucliadb-worker
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  replicas: {{ .Values.workerReplicas }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: nucliadb-worker
      release: "{{ .Release.Name }}"
      heritage: "{{ .Release.Service }}"
  template:
    metadata:
      name: nucliadb-worker
      labels:
        app: nucliadb-worker
        version: "{{ .Chart.Version | replace "+" "_" }}"
        chart: "{{ .Chart.Name }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
      topologySpreadConstraints:
{{ toYaml .Values.topologySpreadConstraints | indent 8 }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
      affinity:
{{ toYaml .Values.affinity | indent 8 }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
      dnsPolicy: ClusterFirst
      containers:
      - name: worker
        image: "{{ .Values.image }}:{{ .Values.imageVersion | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /api/v1/health/alive
            port: 8080
          initialDelaySeconds: 30
          timeoutSeconds: 60
          periodSeconds: 60
        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /api/v1/health/ready
            port: 8080
          initialDelaySeconds: 1
          timeoutSeconds: 10
          periodSeconds: 20
        command: [
          "nucliadb"
        ]
        env:
          - name: VERSION
            valueFrom:
              fieldRef:
                fieldPath: metadata.labels['version']
          {{- range $key, $value := .Values.env }}
          - name: "{{ $key }}"
            value: {{ tpl $value $ | toJson }}
          {{- end }}
          {{- if .Values.envSecrets }}
{{ toYaml .Values.envSecrets | indent 10 }}
          {{- end }}
          - name: DATA_PATH
            value: "/data"
          - name: node_role
            value: "worker"
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        ports:
        - name: http
          containerPort: 8080
        - name: train
          containerPort: 8040
        - name: grpc
          containerPort: 8060
        resources:
{{ toYaml .Values.workerResources | indent 10 }}
