{{- $release := .Release }}
{{- $values := .Values }}
{{- $chart := .Chart }}
{{- range $i, $e := until (int .Values.replicaCount) }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: node-replicas-{{ $i }}
  labels:
    app: node-replicas-{{ $i }}
    appType: node
    readReplica: "true"
    app.kubernetes.io/name: node-replicas-{{ $i }}
    app.kubernetes.io/instance: "{{ $release.Name }}"
    app.kubernetes.io/managed-by: {{ $release.Service }}
    version: "{{ $chart.Version | replace "+" "_" }}"
    chart: "{{ $chart.Name }}"
  annotations:
    sidecar.istio.io/inject: "false"
spec:
  replicas: {{ $values.readReplicas.count }}
  revisionHistoryLimit: {{ $values.revisionHistoryLimit }}
  selector:
    matchLabels:
      app: node-replicas-{{ $i }}
      app.kubernetes.io/name: node-replicas-{{ $i }}
      app.kubernetes.io/instance: "{{ $release.Name }}"
      app.kubernetes.io/managed-by: {{ $release.Service }}
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
        # do not have access to dependency chart cm this component references
        {{- if hasKey $values "extra_pod_annotations" }}
{{ toYaml $values.extra_pod_annotations | indent 8 }}
        {{- end }}
      name: node-replicas-{{ $i }}
      labels:
        app: node-replicas-{{ $i }}
        appType: node
        readReplica: "true"
        app.kubernetes.io/name: node-replicas-{{ $i }}
        app.kubernetes.io/instance: "{{ $release.Name }}"
        app.kubernetes.io/managed-by: {{ $release.Service }}
        version: "{{ $chart.Version | replace "+" "_" }}"
        chart: "{{ $chart.Name }}"
    spec:
      terminationGracePeriodSeconds: 120
{{- if $values.readReplicas.nodeSelector }}
      nodeSelector:
{{ toYaml $values.readReplicas.nodeSelector | indent 8 }}
{{- end }}
{{- if $values.readReplicas.topologySpreadConstraints }}
      topologySpreadConstraints:
{{ toYaml $values.readReplicas.topologySpreadConstraints | indent 8 }}
{{- end }}
{{- if $values.readReplicas.affinity }}
      affinity:
{{ toYaml $values.readReplicas.affinity | indent 8 }}
{{- end }}
{{- if $values.readReplicas.tolerations }}
      tolerations:
{{ toYaml $values.readReplicas.tolerations | indent 8 }}
{{- end }}
      dnsPolicy: ClusterFirst
      serviceAccount:  {{ (($values.readReplicas).serviceAccount) | default "default" }}
      volumes:
      - name: data-dir
        emptyDir:
{{- with $values.nats.secretName }}
      - name: nats-creds
        secret:
          secretName: {{ . }}
{{- end }}
      containers:
      - name: writer
        securityContext:
          privileged: true
        image: "{{ $values.containerRegistry }}/{{ $values.image }}"
        imagePullPolicy: {{ $values.imagePullPolicy }}
        livenessProbe:
          exec:
            command: ["/bin/grpc_health_probe", "-addr=:{{ $values.serving.grpc_writer }}", "-service=nodewriter.NodeWriter", "-connect-timeout=2000ms", "-rpc-timeout=2000ms"]
          initialDelaySeconds: 10
          periodSeconds: 60
        command: ["node_writer"]
        envFrom:
        - configMapRef:
            name: node-config
        - configMapRef:
            name: nucliadb-config
        env:
          - name: NODE_ROLE
            value: secondary
          - name: PRIMARY_ADDRESS
            value: "node-{{ $i }}.node:{{ $values.serving.grpc_writer }}"
          - name: METRICS_PORT
            value: "3032"
          {{- range $key, $value := $values.env }}
          - name: "{{ $key }}"
            value: {{ tpl $value $ | toJson }}
          {{- end }}
        ports:
        - name: grpc-writer
          containerPort: {{ $values.serving.grpc_writer }}
          protocol: TCP
        - name: metrics
          containerPort: 3032
        resources:
{{ toYaml $values.readReplicas.resources.writer | indent 10 }}
        volumeMounts:
        - name: data-dir
          mountPath: {{ $values.config.data_path }}
      - name: reader
        securityContext:
          privileged: true
        image: "{{ $values.containerRegistry }}/{{ $values.image }}"
        imagePullPolicy: {{ $values.imagePullPolicy }}
        readinessProbe:
          exec:
            command: ["/bin/grpc_health_probe", "-addr=:{{ $values.serving.grpc_reader }}", "-service=nodereader.NodeReader"]
          initialDelaySeconds: 10
          periodSeconds: 5
          failureThreshold: 10
        # Disable livenessProbe for now since
        # we need a different livenessProbe than readinessProbe
        # for a read replica
        # livenessProbe:
        #   exec:
        #     command: ["/bin/grpc_health_probe", "-addr=:{{ $values.serving.grpc_reader }}", "-service=nodereader.NodeReader"]
        #   initialDelaySeconds: 2
        command: ["node_reader"]
        envFrom:
        - configMapRef:
            name: node-config
        - configMapRef:
            name: nucliadb-config
        env:
          - name: NODE_ROLE
            value: secondary
          - name: METRICS_PORT
            value: "3031"
        {{- range $key, $value := $values.env }}
          - name: "{{ $key }}"
            value: {{ tpl $value $ | toJson }}
        {{- end }}
        ports:
        - name: grpc-reader
          containerPort: {{ $values.serving.grpc_reader }}
          protocol: TCP
        - name: metrics
          containerPort: 3031
        resources:
{{ toYaml $values.readReplicas.resources.reader | indent 10 }}
        volumeMounts:
        - name: data-dir
          mountPath: {{ $values.config.data_path }}
{{- if $values.tracing.enabled }}
      - name: jaeger-agent
        image: "jaegertracing/jaeger-agent:{{ $values.tracing.jaegerAgentTag }}"
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 5775
            name: zk-compact-trft
            protocol: UDP
          - containerPort: 5778
            name: config-rest
            protocol: TCP
          - containerPort: 6831
            name: jg-compact-trft
            protocol: UDP
          - containerPort: 6832
            name: jg-binary-trft
            protocol: UDP
          - containerPort: 14271
            name: admin-http
            protocol: TCP
        args:
          - --reporter.grpc.host-port=dns:///{{ $values.tracing.jaegerCollectorHost }}:{{ $values.tracing.jaegerCollectorGrpcPort }}
          - --reporter.type=grpc
{{- end }}
---
{{- end }}