apiVersion: v1
kind: ConfigMap
metadata:
  name: node-config
  labels:
    app: node
    app.kubernetes.io/name: node
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
data:
{{- if .Values.debug }}
  RUST_LOG: "nucliadb_node=DEBUG,nucliadb_paragraphs=DEBUG,nucliadb_vectors=DEBUG,nucliadb_texts=DEBUG,nucliadb_relations=DEBUG"
{{- else }}
  RUST_LOG: "nucliadb_node=WARN"
{{- end }}
  RUST_LIB_BACKTRACE: "1"
  HOST_KEY_PATH: "{{ .Values.config.data_path }}/node.key"
  SENTRY_URL: {{ .Values.running.sentry_url }}
  READER_LISTEN_ADDRESS: 0.0.0.0:{{ .Values.serving.grpc_reader }}
  WRITER_LISTEN_ADDRESS: 0.0.0.0:{{ .Values.serving.grpc_writer }}
  SIDECAR_LISTEN_ADDRESS: 0.0.0.0:{{ .Values.serving.grpc_sidecar }}
  METRICS_PORT: {{ .Values.serving.metricsPort | quote }}
  DATA_PATH: "{{.Values.config.data_path}}"
{{- if .Values.config.lazyloading }}
  LAZY_LOADING: {{ .Values.config.lazyloading }}
{{- end }}

  INDEX_JETSTREAM_AUTH: {{ .Values.indexing.index_jetstream_auth }}
  INDEX_JETSTREAM_SERVERS: {{ toJson .Values.indexing.index_jetstream_servers | quote }}

  JAEGER_ENABLED: {{ .Values.tracing.enabled | quote }}
