apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ingest-processed-consumer
  labels:
    app: ingest-processed-consumer
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ingest-processed-consumer
  minReplicas: {{.Values.ingest_processed_consumer_autoscaling.minReplicas}}
  maxReplicas: {{.Values.ingest_processed_consumer_autoscaling.maxReplicas}}
  metrics: {{- toYaml .Values.ingest_processed_consumer_autoscaling.metrics | nindent 4}}
  {{- if .Values.ingest_processed_consumer_autoscaling.behavior }}
  behavior: {{- toYaml .Values.ingest_processed_consumer_autoscaling.behavior | nindent 4}}
  {{- end }}
