apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  labels:
    app: ingest
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  GRPC_PORT: {{ .Values.serving.grpc | quote }}
  INNER_METRICS_HOST: "0.0.0.0"
  INNER_METRICS_PORT: {{ .Values.serving.metrics | quote }}

  PULL_TIME: {{ .Values.config.pull_time | quote }}
  NODE_REPLICAS: {{ .Values.config.node_replicas | quote }}
{{- if .Values.debug }}
  DEBUG: "True"
  LOG_LEVEL: "DEBUG"
{{- end }}
  ACTIVITY_LOG_LEVEL: {{ .Values.running.activity_log_level }}
{{- if .Values.config.monitor }}
  MONITOR: "True"
{{- end }}
  MONITOR_PORT: {{ .Values.serving.monitor | quote }}
  SENTRY_URL: {{ .Values.running.sentry_url }}

  INDEX_JETSTREAM_TARGET: {{ .Values.indexing.index_jetstream_target }}
  INDEX_JETSTREAM_SERVERS: {{ toJson .Values.indexing.index_jetstream_servers | quote }}
  INDEX_JETSTREAM_AUTH:  {{ .Values.indexing.index_jetstream_auth }}

  TOTAL_REPLICAS: {{ .Values.replicaCount | quote }}

  JAEGER_ENABLED: {{ .Values.tracing.enabled | quote }}

  CHITCHAT_BINDING_PORT: {{ .Values.chitchat.cluster_manager.port | quote }}
  CHITCHAT_BINDING_HOST: {{ .Values.chitchat.cluster_manager.host }}

  MONITOR_ADDR: "{{ .Values.chitchat.cluster_manager.host }}:{{ .Values.chitchat.cluster_manager.port }}"

  LISTEN_PORT: {{ .Values.chitchat.node.chitchat_port }}
  NODE_TYPE: {{ .Values.chitchat.node.node_type }}
  SEEDS: {{ .Values.chitchat.node.node0_svc_fixed_ip }}
