apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ingest-subscriber-workers
  labels:
    app: ingest-subscriber-workers
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ingest-subscriber-workers
  minReplicas: {{.Values.ingest_subscriber_workers_autoscaling.minReplicas}}
  maxReplicas: {{.Values.ingest_subscriber_workers_autoscaling.maxReplicas}}
  metrics: {{- toYaml .Values.ingest_subscriber_workers_autoscaling.metrics | nindent 4}}
