apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingest-orm-grpc
  labels:
    app: ingest-orm-grpc
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  replicas: {{ .Values.ingest_orm_grpc_replicaCount }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      app: ingest-orm-grpc
      release: "{{ .Release.Name }}"
      heritage: "{{ .Release.Service }}"
  template:
    metadata:
      name: ingest-orm-grpc
      annotations:
        {{- if .Values.ingest_orm_grpc_podAnnotations }}
          {{- toYaml .Values.ingest_orm_grpc_podAnnotations | trim | nindent 8 }}
        {{- end }}
        # do not have access to dependency chart cm this component references
        checksum/cm: {{ include (print $.Template.BasePath "/ingest.cm.yaml") . | sha256sum }}
        {{- if hasKey .Values "extra_pod_annotations" }}
{{ toYaml .Values.extra_pod_annotations | indent 8 }}
        {{- end }}
      labels:
        app: ingest-orm-grpc
        version: "{{ .Chart.Version | replace "+" "_" }}"
        chart: "{{ .Chart.Name }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
        {{- with .Values.ingest_orm_grpc_podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      topologySpreadConstraints:
{{ toYaml .Values.topologySpreadConstraints | indent 8 }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
      affinity:
{{ toYaml .Values.affinity | indent 8 }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
      dnsPolicy: ClusterFirst
{{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
{{- end }}
      serviceAccountName: {{ if kindIs "string" .Values.ingest_orm_grpc.serviceAccount }}{{ .Values.ingest_orm_grpc.serviceAccount }}{{ else }}{{ .Values.ingest_orm_grpc.serviceAccount.name | default "default" }}{{ end }}
      containers:
      - name: ingest-orm-grpc
        image: "{{ .Values.containerRegistry }}/{{ .Values.image }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        readinessProbe:
          grpc:
            port: {{ .Values.serving.grpc }}
          initialDelaySeconds: 10
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 3
        livenessProbe:
          grpc:
            port: {{ .Values.serving.grpc }}
          initialDelaySeconds: 10
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 3
        command: [
          "nucliadb-ingest-orm-grpc"
        ]
        envFrom:
          - configMapRef:
              name: {{ .Release.Name }}-config
          - secretRef:
              name: {{ .Release.Name }}-config
          {{- if .Values.envFrom }}
          {{- toYaml .Values.envFrom | nindent 10 }}
          {{- end }}
        env:
          - name: VERSION
            valueFrom:
              fieldRef:
                fieldPath: metadata.labels['version']
          {{- include "toEnv" .Values.env | indent 10 }}
        ports:
        - name: grpc-ingest
          containerPort: {{ .Values.serving.grpc }}
        - name: metrics
          containerPort: {{.Values.serving.metricsPort }}
        resources:
{{ toYaml .Values.ingest_orm_grpc_resources | indent 10 }}
{{- if .Values.nats.secretName }}
        volumeMounts:
          - name: nats-creds
            readOnly: true
            mountPath: /appsecrets
{{- end }}
{{- if .Values.nats.regionalSecretName }}
          - name: regional-nats-creds
            readOnly: true
            mountPath: /regioncreds
{{- end }}
{{- if .Values.nats.secretName }}
      volumes:
      - name: nats-creds
        secret:
          secretName: {{ .Values.nats.secretName }}
{{- end }}
{{- if .Values.nats.regionalSecretName }}
      - name: regional-nats-creds
        secret:
          secretName: {{ .Values.nats.regionalSecretName }}
{{- end }}
