apiVersion: batch/v1
kind: Job
metadata:
  name: migrate-job
  labels:
    app: migrate-job
    version: "{{ .Chart.Version | replace "+" "_" }}"
    chart: "{{ .Chart.Name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
  annotations:
    "helm.sh/hook": post-install,post-upgrade
spec:
  template:
    metadata:
      name: migrate-job
      annotations:
        traffic.sidecar.istio.io/excludeInboundPorts: "{{.Values.serving.metricsPort }}"
        traffic.sidecar.istio.io/excludeOutboundPorts: "{{.Values.services.maindb }},{{.Values.services.nats }},20160,2380"
        # do not have access to dependency chart cm this component references
        checksum/cm: {{ include (print $.Template.BasePath "/ingest.cm.yaml") . | sha256sum }}
        sidecar.istio.io/inject: "false"
      labels:
        app: migrate-job
        version: "{{ .Chart.Version | replace "+" "_" }}"
        chart: "{{ .Chart.Name }}"
        release: "{{ .Release.Name }}"
        heritage: "{{ .Release.Service }}"
    spec:
      shareProcessNamespace: true
      restartPolicy: Never
      containers:
      - name: migrate-job
        image: "{{ .Values.containerRegistry }}/{{ .Values.image }}"
        imagePullPolicy: {{.Values.imagePullPolicy}}
        command: ["/bin/bash", "-c"]
        # cause other containers to exit when migrate command is done
        args:
        - "trap 'pkill cluster_manager' SIGTERM && nucliadb-migrate"
        envFrom:
        - configMapRef:
            name: nucliadb-config
        - configMapRef:
            name: {{ .Release.Name }}-config
        env:
          - name: VERSION
            valueFrom:
              fieldRef:
                fieldPath: metadata.labels['version']
        {{- range $key, $value := .Values.env }}
          - name: "{{ $key }}"
            value: {{ tpl $value $ | toJson }}
        {{- end }}
        resources:
{{ toYaml .Values.ingest_orm_grpc_resources | indent 10 }}
{{- if .Values.nats.secretName }}
        volumeMounts:
          - name: nats-creds
            readOnly: true
            mountPath: /appsecrets
{{- end }}
{{- if .Values.nats.regionalSecretName }}
          - name: regional-nats-creds
            readOnly: true
            mountPath: /regioncreds
{{- end }}
      - name: cluster-manager
        image: "{{ .Values.containerRegistry }}/{{ .Values.image_other }}"
        imagePullPolicy: {{ .Values.imageOtherPullPolicy }}
        command: ["/nucliadb_cluster/cluster_manager"]
        envFrom:
        - configMapRef:
            name: nucliadb-config
        - configMapRef:
            name: {{ .Release.Name }}-config
        ports:
        - name: chitchat
          containerPort: {{ .Values.chitchat.node.chitchat_port }}
          protocol: UDP
      {{- if .Values.nats.secretName }}
      volumes:
      - name: nats-creds
        secret:
          secretName: {{ .Values.nats.secretName }}
{{- end }}
{{- if .Values.nats.regionalSecretName }}
      - name: regional-nats-creds
        secret:
          secretName: {{ .Values.nats.regionalSecretName }}
{{- end }}

  backoffLimit: 3
