# -----
# NucliaDB Writer Settings
# -----

# Image settings
imagePullPolicy: IfNotPresent
containerRegistry: CONTAINER_REGISTRY_TO_REPLACE
image: IMAGE_TO_REPLACE

# Component settings
# ---
# These settings are controlled through environment variables
# all kubernetes oriented settings are controlled through
# other values.
# HOWEVER, we are in a transition period where we allow
# both until all component settings are removed from
# settings not mapped directly through env
env:
  EXAMPLE: "VALUE"

# Kubernetes settings
affinity: {}
nodeSelector: {}
tolerations: []
topologySpreadConstraints: []
revisionHistoryLimit: 2
debug: False
resources: {}
#  limits:
#    memory: "600Mi"
#  requests:
#    cpu: "300m"

serving:
  port: 8080
  metricsPort: 3030

services:
  # This must match the redis or tikv driver on nucliadb_shared
  maindb: 6379 | 2379
  nats: 4222

running:
  sentry_url:

config:
  dm_redis_host:
  dm_redis_port:

# secret containing NATS user credentials
## credential names inside the secret should be consistent with
## what's configured on nucliadb_shared
##   .Values.transaction.transaction_jetstream_auth
##   .Values.cache.cache_pubsub_nats_auth
nats:
  secretName: nats-creds
  regionalSecretName: regional-nats-creds

vs:
  gateway:
  host:

zone:

serviceMonitor:
  enabled: False

tracing:
  enabled: false
  jaegerAgentTag: 1.34.1
  jaegerCollectorHost: jaeger-collector.observability.svc.cluster.local
  jaegerCollectorGrpcPort: 14250

# extra_pod_annotations:
#   what: "add annotations"
#   where: "in the pods"

autoscaling:
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 65
