apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: writer
spec:
  gateways:
    - "{{ .Values.vs.gateway }}"
  hosts:
    - "{{ .Values.zone }}.{{ .Values.vs.host }}"
  http:
    - name: nucliadb_writer
      match:
        - uri:
            regex: '^/api/v\d+/kb/[^/]+'
          method:
            regex: "POST|PATCH|PUT|DELETE|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/(resource|slug|resources|entitiesgroup|labelset|vectorset|upload|custom-synonyms|export|import).*'
          method:
            regex: "POST|PATCH|PUT|DELETE|OPTIONS"
      route:
        - destination:
            port:
              number: {{.Values.serving.port}}
            host: "writer.{{ .Release.Namespace }}.svc.cluster.local"
      corsPolicy:
        allowOrigins:
          - exact: "*"
        allowHeaders:
          - "*"
          # Authorization will be exluded from * in the future, (CORS non-wildcard request-header).
          # Browsers already showing deprecation notices, so it needs to be specified explicitly
          - "Authorization"
        allowMethods:
          - PUT
          - DELETE
          - POST
          - PATCH
          - OPTIONS
    - name: nucliadb_writer_tus
      match:
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/(resource|slug)/[^/]+/file/[^/]+/tusupload.*'
          method:
            regex: "POST|PATCH|HEAD|OPTIONS"
        - uri:
            regex: '^/api/v\d+/kb/[^/]+/tusupload.*'
          method:
            regex: "POST|PATCH|HEAD|OPTIONS"
      retries:
        attempts: 3
        retryOn: connect-failure
      route:
        - destination:
            port:
              number: {{.Values.serving.port}}
            host: "writer.{{ .Release.Namespace }}.svc.cluster.local"
      corsPolicy:
        allowOrigins:
          - exact: "*"
        allowHeaders:
          - "*"
          # Authorization will be exluded from * in the future, (CORS non-wildcard request-header).
          # Browsers already showing deprecation notices, so it needs to be specified explicitly
          - "Authorization"
        allowMethods:
          - POST
          - PATCH
          - HEAD
          - OPTIONS
