# -----
# NucliaDB Node Settings
# -----

# Image settings
imagePullPolicy: IfNotPresent
containerRegistry: CONTAINER_REGISTRY_TO_REPLACE
image: IMAGE_TO_REPLACE
image_sidecar: IMAGE_SIDECAR_TO_REPLACE

# Component settings
# ---
# These settings are controlled through environment variables
# all kubernetes oriented settings are controlled through
# other values.
# HOWEVER, we are in a transition period where we allow
# both until all component settings are removed from
# settings not mapped directly through env
env:
  EXAMPLE: "VALUE"

# Kubernetes settings
config:
  data_path: /data

affinity: {}
nodeSelector: {}
tolerations: []
topologySpreadConstraints: []
replicaCount: 2
revisionHistoryLimit: 2
debug: False
resources:
  reader: {}
  #  limits:
  #    memory: "600Mi"
  #  requests:
  #    cpu: "200m"
  writer: {}
  #  limits:
  #    memory: "300Mi"
  #  requests:
  #    cpu: "100m"
  sidecar: {}
  #  limits:
  #    memory: "300Mi"
  #  requests:
  #    cpu: "100m"

serviceMonitor:
  enabled: false

serving:
  chitchat_port: 4444
  grpc_reader: 10000
  grpc_writer: 10001
  grpc_sidecar: 10002
  node0_svc_fixed_ip: 10.4.0.255
  node_type: Io
  metricsPort: 3030

storage:
  class: ssd
  size: 100Gi

running:
  sentry_url:
  shutdown_delay: "5s"

tracing:
  enabled: false
  jaegerAgentTag: 1.34.1
  jaegerCollectorHost: jaeger-collector.observability.svc.cluster.local
  jaegerCollectorGrpcPort: 14250

# secret containing NATS user credentials
## credential names inside the secret should be consistent with
## what's configured on nucliadb_shared
##   .Values.transaction.transaction_jetstream_auth
##   .Values.cache.cache_pubsub_nats_auth
nats:
  secretName: nats-creds
  regionalSecretName: regional-nats-creds
  port: 4222

indexing:
  index_jetstream_auth:
  index_jetstream_servers:
    - nats1

# extra_pod_annotations:
#   what: "add annotations"
#   where: "in the pods"