affinity: {}
nodeSelector: {}
tolerations: []
replicaCount: 2
revisionHistoryLimit: 2
debug: False
imagePullPolicy: IfNotPresent
image: IMAGE_TO_REPLACE
resources: {}
#  limits:
#    memory: "600Mi"
#  requests:
#    cpu: "300m"

serving:
  port: 8080

services:
  # This must match the redis or tikv driver on nucliadb_shared
  maindb: 6379 | 2379
  nats: 4222

running:
  sentry_url:
  swim_level: INFO

swim:
  key: "search.key"
  binding:
    port: 4440
    host: "0.0.0.0"

config:
  search_timeout: 10 # seconds

serviceMonitor:
  enabled: False

# secret containing NATS user credentials
## credential names inside the secret should be consistent with
## what's configured on nucliadb_shared
##   .Values.transaction.transaction_jetstream_auth
##   .Values.cache.cache_pubsub_nats_auth
nats:
  secretName: nats-creds

vs:
  gateway:
  host:

zone:
