# -----
# NucliaDB Search Settings
# -----

# Image settings
imagePullPolicy: IfNotPresent
imageOtherPullPolicy: Always
containerRegistry: CONTAINER_REGISTRY_TO_REPLACE
image: IMAGE_TO_REPLACE
image_other: cluster_manager:main

# Component settings
# ---
# These settings are controlled through environment variables
# all kubernetes oriented settings are controlled through
# other values settings.
# HOWEVER, we are in a transition period where we allow
# both until all component settings are removed from
# settings not mapped directly through env
env:
  SEARCH_TIMEOUT: "10" # seconds
  SEARCH_CACHE_REDIS_HOST:
  SEARCH_CACHE_REDIS_PORT:

# Kubernetes settings
affinity: {}
nodeSelector: {}
tolerations: []
topologySpreadConstraints: []
replicaCount: 2
revisionHistoryLimit: 2
debug: False
resources: {}
#  limits:
#    memory: "600Mi"
#  requests:
#    cpu: "300m"

serving:
  port: 8080
  metricsPort: 3030

services:
  # This must match the redis or tikv driver on nucliadb_shared
  maindb: 6379 | 2379
  nats: 4222

running:
  sentry_url:

serviceMonitor:
  enabled: False

# secret containing NATS user credentials
## credential names inside the secret should be consistent with
## what's configured on nucliadb_shared
##   .Values.transaction.transaction_jetstream_auth
##   .Values.cache.cache_pubsub_nats_auth
nats:
  secretName: nats-creds
  regionalSecretName: regional-nats-creds

vs:
  gateway:
  host:

zone:

tracing:
  enabled: false
  jaegerAgentTag: 1.34.1
  jaegerCollectorHost: jaeger-collector.observability.svc.cluster.local
  jaegerCollectorGrpcPort: 14250
