# nucliadb dependencies are auto pinned on release
nucliadb-telemetry[all]
nucliadb-utils[storages,fastapi,cache]
nucliadb-protos
nucliadb-models
nucliadb-admin-assets>=1.0.0.post1224
nucliadb-node-binding>=2.26.0

# external dependencies
uvicorn<0.19.0
pydantic_argparse

aiohttp>=3.9.3
lru-dict>=1.1.7
backoff
aiofiles>=0.8.0
psutil>=5.9.7
types-psutil>=5.9.5.17
types-aiofiles>=0.8.3
protobuf>=4.22.3
types-protobuf>=3.19.20,<4.0
grpcio>=1.44.0
grpcio-health-checking>=1.44.0
grpcio-channelz>=1.44.0
grpcio-status>=1.44.0
grpcio-tools>=1.44.0
grpcio-testing>=1.44.0
grpcio-reflection>=1.44.0
orjson>=3.6.7
types-setuptools
# pydantic 2 need a careful migration
pydantic>=1.9.0,<2.0
aiobotocore>=2.5.2
botocore>=1.34.0
google-cloud-storage
gcloud
oauth2client
jwcrypto>=1.5.1

fastapi-versioning>=0.10.0
# At some point FastAPI will drop support for pydantic v1
fastapi>=0.95.2
sentry-sdk>=1.5.12
pyjwt>=2.4.0
mmh3>=3.0.0
httpx>=0.23.0
types-pkg-resources>=0.1.3
grpc-stubs>=1.24.7
aiodns>=3.0.0

types-orjson

asyncpg>=0.27.0
tikv-client>=0.0.3

# improve dependency resolution
multidict>=6.0.4
deprecated>=1.2.12
asgiref>=3.3.2
jmespath>=1.0.0
idna>=3.3
sniffio>=1.2.0

async_lru>=2.0.4
async-timeout>=4.0.3
cachetools>=5.3.2
types-cachetools>=5.3.0.5
kubernetes_asyncio