# This is a reusable workflow.
name: Build a container image

on:
  workflow_call:
    inputs:
      image-name:
        description: "Image tags."
        type: string
        required: false
        default: ""
      context:
        description: "Docker build context (default: .)"
        type: string
        required: false
        default: "."
      file:
        description: "Path to dockerfile."
        type: string
        required: false
        default: ""
      platforms:
        description: "Platforms to build for (default: linux/amd64)"
        type: string
        required: false
        default: "linux/amd64"
      cache-gha-mode:
        description: "Parameter `mode` for `cache-from type=gha` (default: max)"
        type: string
        required: false
        default: "max"
      skip:
        description: "If `true`, skip everything (default: `false`)."
        type: boolean
        required: false
        default: false
    outputs:
      imageid:
        value: ${{ jobs.build-img.outputs.imageid }}
      digest:
        value: ${{ jobs.build-img.outputs.digest }}
      metadata:
        value: ${{ jobs.build-img.outputs.metadata }}

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

env:
  GCP_WORKLOAD_IDENTITY_PROVIDER: "projects/224545243904/locations/global/workloadIdentityPools/gh-nuclia/providers/gh-nuclia-provider"
  GCP_SERVICE_ACCOUNT: "github-actions@nuclia-internal.iam.gserviceaccount.com"

jobs:

  build-img:
    name: Build image
    runs-on: ubuntu-latest
    outputs:
      imageid: ${{ steps.build-image.outputs.imageid }}
      digest: ${{ steps.build-image.outputs.digest }}
      metadata: ${{ steps.build-image.outputs.metadata }}

    steps:
      - name: Skip everything, if needed.
        run: |
          if [[ "${{ inputs.skip }}" == "true" ]]; then
            echo "Doing nothing because skip=true."
            exit 0
          fi

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: default values for arguments
        id: default
        run: |
          FILE="${{ inputs.file }}"
          if [[ -z "$FILE" ]] ; then
            FILE="${{ inputs.context }}/Dockerfile"
          fi
          echo "file=${FILE}" >> "${GITHUB_OUTPUT}"
          echo "file: ${FILE}"

      # required for using buildx on self-hosted runners
      - name: Set up Docker Context for Buildx
        run: |
          docker context create builders

      # required for using gha cache backend
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          endpoint: builders

      - name: Build image
        id: build-image
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.context }}
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=${{ inputs.cache-gha-mode }}
          file: ${{ steps.default.outputs.file }}
          platforms: ${{ inputs.platforms }}

      - name: Push image
        id: push-image
        uses: ./.github/actions/push-img-nucliadb
        with:
          imageid: ${{ steps.build-image.outputs.imageid }}
          image-name: ${{ inputs.image-name }}
