name: nucliadb Search (py)

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/nucliadb_search.yml"
      - "charts/nucliadb_search/**"
      - "nucliadb_utils/**"
      - "nucliadb/nucliadb/ingest/**"
      - "nucliadb/nucliadb/search/**"
      - "nucliadb_models/**"
      - "nucliadb_telemetry/**"
      - "nucliadb_protos/python/**"
      - "nucliadb_cluster/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/nucliadb_search.yml"
      - "charts/nucliadb_search/**"
      - "nucliadb_utils/**"
      - "nucliadb/nucliadb/ingest/**"
      - "nucliadb/nucliadb/search/**"
      - "nucliadb_models/**"
      - "nucliadb_telemetry/**"
      - "nucliadb_protos/python/**"
      - "nucliadb_cluster/**"
env:
  API_VERSION: 1
  COMPONENT: nucliadb-search
  CONTAINER_REGISTRY: eu.gcr.io/${{ secrets.PROJECT_ID }}
  IMAGE_NAME: search

jobs:
  # Job to run pre-checks
  pre-checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3.1.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install package
        run: |
          pip install -r code-requirements.txt
      - name: Run pre-checks
        run: |
          flake8 nucliadb/nucliadb/search --config=nucliadb/setup.cfg
          isort -c --profile black nucliadb/nucliadb/search
          black --check --verbose nucliadb/nucliadb/search

  # Job to run tests
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      # Setup gcloud CLI
      - uses: google-github-actions/auth@v0
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v0"

      # setup docker, as we need to pull the node image to run the tests
      - name: Configure Docker
        run: gcloud auth configure-docker --quiet

      - name: Setup Python
        uses: actions/setup-python@v3.1.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install the package
        run: |
          pip install -r test-requirements.txt
          pip install -r nucliadb/requirements-sources.txt
          pip install -r nucliadb/requirements.txt
          pip install -e nucliadb

      - name: Check mypy
        run: |
          MYPYPATH=./mypy_stubs mypy nucliadb/nucliadb/search

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            node_modified:
              - 'nucliadb_node/src/**'
            sidecar_modified:
              - 'nucliadb_node/nucliadb_node/**'
            cluster_modified:
              - 'nucliadb_cluster/**'

      # we may need eu.gcr.io/stashify-218417/node
      # or eu.gcr.io/stashify-218417/cluster_manager
      # or eu.gcr.io/stashify-218417/node_sidecar

      - name: Build local Node for testing
        if: steps.filter.outputs.node_modified == 'true'
        run: |
          docker build -t eu.gcr.io/stashify-218417/node:main -f Dockerfile.node .

      - name: Build local Sidecar for testing
        if: steps.filter.outputs.sidecar_modified == 'true'
        run: |
          docker build -t eu.gcr.io/stashify-218417/cluster_manager:main -f Dockerfile.cluster_monitor .

      - name: Build local ClusterManager for testing
        if: steps.filter.outputs.cluster_modified == 'true'
        run: |
          docker build -t eu.gcr.io/stashify-218417/node_sidecar:main -f Dockerfile.node_sidecar .

      - name: Run tests
        run: |
          pytest -rfE --cov=nucliadb.search -s --tb=native -v --cov-report xml --cov-append --benchmark-json output.json nucliadb/nucliadb/search

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          flags: search

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: 'pytest'
          output-file-path: output.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-on-alert: true
          fail-on-alert: true
          alert-comment-cc-users: '@nuclia/nuclia-db'
          auto-push: true
          gh-repository: github.com/nuclia/nucliadb_performance
          gh-pages-branch: main
          comment-always: true

      - name: Extract docs
        run: |
          mkdir -p /tmp/openapi
          extract-openapi-search /tmp/openapi/$COMPONENT.json $API_VERSION $GITHUB_SHA

      - uses: actions/upload-artifact@v2
        with:
          name: openapi-${{ env.COMPONENT }}-${{ github.sha }}
          path: /tmp/openapi/${{ env.COMPONENT }}.json

  # PR workflows END here
  # PUSH workflows contine with deploy activities

  build:
    name: Build image and push
    runs-on: ubuntu-latest
    needs: tests
    if: github.event_name == 'push'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Calculate short sha
        id: env-vars
        run: |-
          HASH=`git rev-parse --short HEAD`
          BRANCH=${GITHUB_REF##*/}
          echo "::set-output name=short_sha::$HASH"
          echo "::set-output name=branch::$BRANCH"

      - name: Docker - Build
        run: |-
          docker build -t $CONTAINER_REGISTRY/$IMAGE_NAME:${{ steps.env-vars.outputs.short_sha }} . -f Dockerfile

      - name: Setup gcloud CLI
        uses: google-github-actions/auth@v0
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v0"

      - name: Configure Docker
        run: gcloud auth configure-docker --quiet

      - name: Docker - Tag
        run: |-
          docker tag $CONTAINER_REGISTRY/$IMAGE_NAME:${{ steps.env-vars.outputs.short_sha }} $CONTAINER_REGISTRY/$IMAGE_NAME:${{ steps.env-vars.outputs.branch }}

      - name: Docker - Push sha
        run: |-
          docker push $CONTAINER_REGISTRY/$IMAGE_NAME:${{ steps.env-vars.outputs.short_sha }}

      - name: Docker - Push latest
        run: |-
          docker push $CONTAINER_REGISTRY/$IMAGE_NAME:${{ steps.env-vars.outputs.branch }}

  deploy:
    name: Deploy Helm chart and trigger internal CI
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Calculate short sha
        id: env-vars
        run: |-
          HASH=`git rev-parse --short HEAD`
          echo "::set-output name=short_sha::$HASH"

      - name: Set helm package image
        id: version_step
        run: |-
          sed -i.bak "s#IMAGE_TO_REPLACE#$IMAGE_NAME:${{ steps.env-vars.outputs.short_sha }}#" ./charts/nucliadb_search/values.yaml
          sed -i.bak "s#CONTAINER_REGISTRY_TO_REPLACE#$CONTAINER_REGISTRY#" ./charts/nucliadb_search/values.yaml
          VERSION=`cat nucliadb/VERSION`
          VERSION_SHA=$VERSION+${{ steps.env-vars.outputs.short_sha }}
          sed -i.bak "s#99999.99999.99999#$VERSION_SHA#" ./charts/nucliadb_search/Chart.yaml
          echo "::set-output name=version_number::$VERSION_SHA"

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v2.0
        with:
          version: v3.4.0

      - name: Push helm package
        run: |-
          helm lint charts/nucliadb_search
          helm package charts/nucliadb_search
          curl --data-binary "@nucliadb_search-${{ steps.version_step.outputs.version_number }}.tgz" ${{ secrets.HELM_CHART_URL }}/api/charts

      - name: Trigger internal Jenkins
        run: |-
          curl -u "${{ secrets.JENKINS_API_USER }}:${{ secrets.JENKINS_API_KEY }}" --data-urlencode "NUCLIADB_COMPONENT=search"  --data-urlencode "VERSION=${{ steps.version_step.outputs.version_number }}" ${{ secrets.JENKINS_WEBHOOK_URL }}

  docs:
    name: "Upload API specs to GCS"
    runs-on: ubuntu-latest
    needs: deploy
    if: github.event_name == 'push'

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: openapi-${{ env.COMPONENT }}-${{ github.sha }}
          path: /tmp/openapi/

      - name: Setup gcloud CLI
        uses: google-github-actions/auth@v0
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v0"

      - name: Upload docs
        run: |
          gsutil copy /tmp/openapi/$COMPONENT.json gs://stashify-docs/api/regional/v$API_VERSION/$COMPONENT/spec.json
