name: nucliadb Client (py)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  # Job to run pre-checks
  pre-checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install package
        run: make -C nucliadb_client/ install-dev

      - name: Run pre-checks
        run: make -C nucliadb_client/ lint

  # Job to run tests
  tests:
    name: NucliaDBClientTests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install the package
        run: make -C nucliadb_client/ install-dev

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            nucliadb_node_modified:
              - 'nucliadb_node/**'
              - 'nucliadb_core/**'
              - 'nucliadb_paragraphs/**'
              - 'nucliadb_texts/**'
              - 'nucliadb_vectors/**'
              - 'nucliadb_relations/**'
            nucliadb_modified:
              - 'nucliadb/**'

      - name: Build Nucliadb docker image (with compiled node bindings) for testing
        if: steps.filter.outputs.nucliadb_node_modified == 'true'
        run: |
          docker build -t nuclia/nucliadb:latest -f Dockerfile.withbinding --build-arg RUST_BUILD_PROFILE=dev .

      - name: Build Nucliadb docker image (without bindings) for testing
        if: ${{ steps.filter.outputs.nucliadb_node_modified != 'true' && steps.filter.outputs.nucliadb_modified == 'true' }}
        run: |
          docker build -t nuclia/nucliadb:latest -f Dockerfile .

      - name: Run tests
        run: make -C nucliadb_client/ test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          flags: client
