name: NucliaDB SDK (py)

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/nucliadb_sdk.yml"
      - "nucliadb_sdk/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/nucliadb_sdk.yml"
      - "nucliadb_sdk/**"

jobs:
  # Job to run pre-checks
  pre-checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3.1.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install package
        run: |
          pip install -r code-requirements.txt
      - name: Run pre-checks
        run: |
          flake8 nucliadb_sdk --config=nucliadb_sdk/setup.cfg
          isort -c --profile black nucliadb_sdk/
          black --check --verbose nucliadb_sdk

  # Job to run tests
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3.1.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install the package
        run: |
          pip install -r test-requirements.txt
          pip install -r nucliadb_sdk/requirements.txt
          pip install -e nucliadb_sdk

      - name: Check mypy
        run: |
          MYPYPATH=./mypy_stubs mypy nucliadb_sdk/

      - name: Run tests
        run: |
          pytest -rfE --cov=nucliadb_sdk -s --tb=native -v --cov-report xml --cov-append nucliadb_sdk/nucliadb_sdk

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          flags: sdk
