name: OSV scheduled Scan

on:
  schedule:
    - cron: "0 8 * * *"
  push:
    branches: [main]

permissions:
  actions: read
  security-events: write
  contents: read

jobs:
  scan-scheduled:
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.3.3"
    with:
      scan-args: |-
        nidx/Cargo.lock
        uv.lock
      fail-on-vuln: false
